<!-- <ng-template let-productsFromContext="$implicit" let-ngIfInputValue="ngIf" [ngIf]="products" [ngIfElse]="loader"> -->
<div
	*ngIf="products as ngIfInputValue; else loader; let productsFromContext = $implicit"
	class="scroll-container"
>
	<!-- <ng-template
			ngFor
			[ngForOf]="productsFromContext"
			[ngForTrackBy]="trackById"
			let-product
			let-productsFromNgForDirective="ngForOf"
			let-index="index"
		> -->
	<!-- {{productsFromNgForDirective}}
			{{index}} -->

	<!-- Для применения пагинации. chank - массив отображаемых элементов -->
	<ng-container
		class="container"
		*appPagination="
			let chank of productsFromContext;
			let next = next;
			let back = back;
			let pages = pages;
			let pageArr = pageArr;
			let changePage = changePage;
			let index = index
		"
	>
		<app-card
			*ngFor="let product of chank"
			class="card"
			[product]="product"
		></app-card>

		<div class="buttons">
			<button class="back" (click)="back(); $event.stopPropagation()">Back</button>
			<button
				*ngFor="let arr of pageArr"
				(click)="changePage(arr)"
				[ngStyle]="{backgroundColor: arr == index + 1 ? 'red' : 'none'}"
			>
				{{ arr }}
			</button>
			<button class="next" (click)="next(); $event.stopPropagation()">Next</button>
		</div>
	</ng-container>

	<!-- *ngFor="
			let product of ngIfInputValue as productsFromNgForDirective;
			trackBy: trackById;
			let index = index
		"
		class="card"
		[product]="product"
		(buy)="onBuy($event)" -->

	<!-- </ng-template> -->
	<!-- <app-card
			class="card"
			[product]="productsFromContext[1]"
			(buy)="onBuy($event)"
		></app-card>
		<app-card
			class="card"
			[product]="productsFromContext[2]"
			(buy)="onBuy($event)"
		></app-card>
		<app-card
			class="card"
			[product]="productsFromContext[3]"
			(buy)="onBuy($event)"
		></app-card>
		<app-card
			class="card"
			[product]="productsFromContext[4]"
			(buy)="onBuy($event)"
		></app-card> -->
</div>
<!-- </ng-template> -->

<ng-template #loader>
	<mat-spinner class="loader"></mat-spinner>
</ng-template>
